<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Basic Usage</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    
    
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>
    <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.1/docs.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Load Bootstrap stylesheet, which will is CSS that makes everything prettier and also responsive (aka will work on all devices of all sizes). -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDYhRaGOtnjC4JmmgTXag6iBLBlb8MVhQE",
        authDomain: "make-xkcd-great-again.firebaseapp.com",
        databaseURL: "https://make-xkcd-great-again.firebaseio.com",
        storageBucket: "",
        messagingSenderId: "659162547587"
      };
      firebase.initializeApp(config);
    </script>
    
    
  </head>

  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">xkcd for America</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Stats</a></li> 
        <li><a href="#">~`~Insight~`~</a></li> 
      </ul>
    </div>
   </nav>

    <div ng-controller="GreatCtrl" ng-cloak="" class="carddemoBasicUsage" ng-app="GreatAppAgain">
      Trump Likes: {{trumpVotes}} Hillary Likes: {{hillaryVotes}}<br>

  <!-- LANDING PAGE WITH INSTRUCTIONS ON HOW TO PLAY -->
  <div ng-if='pageIndex === 1'>
    <md-content layout-xs="column" layout="row"  layout-align="center">
        <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="">
          <md-card-title>
            <span layout ="row">
              <md-card-title-text>
                <span class="md-headline">Not sure who you're voting for in 2016?</span>
                <span class="md-subhead"><b>We're here to help.</b> <br>
                  Flip through the following series of xkcd comics; when <br>
                  you encounter an image you find funny or amusing, give it an <br>
                  upvote! Otherwise, pass it by hitting thumbs down. At the end, <br>
                  we'll derive your inclination to one candidate by using a <br>
                  sophisticated machine learning algorithm. You can end the survey <br>
                  at any point in time by clicking the 'Show me my results!' button, <br>
                  but the more images you go through, the more accurate your <br>
                  result will be. Good luck!</span>
                            <md-card-actions layout-xs="column" layout="row" layout-align="center center">
                <md-content layout-xs="column" layout="row"  layout-align="center">
                  <md-button flex = "50" class="md-warn md-raised md-hue-2" ng-click='start()'>START!</md-button>
                </md-content>
            </md-card-actions>
              </md-card-title-text>
            </span>
          </md-card-title>

        </md-card>
    </md-content>
  </div>

  <!-- TINDER CARD PART -->
  <div ng-if='pageIndex === 2'>
    <md-content layout-xs="column" layout="row"  layout-align="center" ng-if='pageIndex === 2'>
        <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Indicate whether you like the comic below:</span>
              <span class="md-subhead"></span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="row" layout-align="center center">
            <md-card-actions layout-xs="column" layout="row" layout-align="center center">
              <md-button layout-align="center" class="md-icon-button" aria-label="Thumbs Up" ng-click="vote()">
                <md-icon md-font-library="material-icons">&#xE8DC;</md-icon>
              </md-button>
              <md-button layout-align="center" class="md-icon-button" aria-label="Thumbs Down" ng-click="nextImage()">
               <md-icon md-font-library="material-icons">&#xE8DB;</md-icon>
              </md-button>
            </md-card-actions>
          </md-card-content>
          <md-card-content layout="row" >
            <img src="img/{{cand}}/{{currentImage}}" alt="voter image" layout-align="left">
            
          </md-card-content>
        </md-card>
    </md-content>

    <md-content layout-xs="column" layout="row"  layout-align="center">
      <md-button flex = "30" class="md-raised md-primary" ng-click='finish()'>Show me my results!</md-button>
    </md-content>
  </div>

  <!-- FINISHED GAME WINNER DISPLAY SCREEN -->
  <div ng-if='pageIndex === 3'>
    <md-content layout-xs="column" layout="row"  layout-align="center">
        <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="">
          <md-card-title>
            <span layout ="row">
              <md-card-title-text>
                <span class="md-headline">Congrats!</span>
                <!-- Bindings here for whichever is the winner -->
                <span class="md-subhead"><b>Your presidential candidate is {{}}</b></span>
                <!-- This image should also be bound to either display Trump or Hillary -->
                <img src="img/trump_doge.gif" alt="Doge Trump">
            <md-card-actions layout-xs="column" layout="row" layout-align="center center">
                <md-content layout-xs="column" layout="row"  layout-align="center">
                <!-- This button should take us to the 'About' page -->
                  <md-button class="md-raised md-warn" ng-click='start()'>Learn more</md-button>
                </md-content>
            </md-card-actions>
              </md-card-title-text>
            </span>
          </md-card-title>

        </md-card>
    </md-content>
  </div>

  <!-- INCONCLUSIVE, AKA THERE IS A TIE -->
  <div ng-if='pageIndex === 4'>
    <md-content layout-xs="column" layout="row"  layout-align="center">
        <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="">
          <md-card-title>
            <span layout ="row">
              <md-card-title-text>
                <span class="md-headline">Uh oh!</span>
                <span class="md-subhead"><b>Your results are inconclusive.</b> <br>
                  Select one more card to fix this!</span>
                <img src="img/pusheen.gif" alt="Sad Pepe">
            <md-card-actions layout-xs="column" layout="row" layout-align="center center">
                <md-content layout-xs="column" layout="row"  layout-align="center">
                <!-- This button should give us one more card to choose -->
                  <md-button class="md-raised md-primary"ng-click='start()'>One more!</md-button>
                <!-- ... Not really sure. I guess go straight to 'About' -->
                  <md-button class="md-warn md-raised md-hue-2">Quit</md-button>
                </md-content>
            </md-card-actions>
              </md-card-title-text>
            </span>
          </md-card-title>
        </md-card>
    </md-content>
  </div>
</div>

<!--
Copyright 2016 Make Google Inc. Great Again All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script>

        <!-- Our Angular scripts -->
        <script src="app.js"></script>
        <script src="controllers/greatCtrl.js"></script>

    
    
    
  </body>
</html>
